Options -Indexes
<FilesMatch "\.(log)">
Deny from all
</fileSMatch>
<FilesMatch "config.php">
    Deny from all
</fileSMatch>
<FilesMatch "setup_html.php">
    Deny from all
</fileSMatch>
<FilesMatch "init.php">
    Deny from all
</fileSMatch>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php/$1 [QSA]
<IfModule mod_headers.c>
    Header set X-Frame-Options "DENY"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
</IfModule>
