<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary ">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">{{'PHP Phone Book'|lang}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-2 overflow-y-auto ">
        <ul class="nav nav-pills flex-column gap-1 mb-auto p-1 p-xl-3">
            <li class="nav-item">
                <a href="{{constant('PROJECT_URL')~'admin/phone_book'}}" class="nav-link d-flex align-items-center justify-content-start lh-1 gap-3 {% if param=='home' or param=='phone_book' %}active{% endif %}" aria-current="page" href="#">
                    <div><i class="bi bi-person-rolodex"></i></div>
                    <div>{{'Phone Book'|lang}}</div>
                </a>
                <a href="{{constant('PROJECT_URL')~'admin/add_phone_number'}}" class="nav-link mt-2 d-flex align-items-center justify-content-start lh-1 gap-3 {% if param=='add_phone_number' %}active{% endif %}">
                    <span><i class="bi bi-plus-lg"></i></span>
                    <span>{{'Add phone number'|lang}}</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="{{constant('PROJECT_URL')~'admin/profile'}}" class="nav-link d-flex align-items-center justify-content-start lh-1 gap-3 " aria-current="page" href="#">
                    <div><i class="bi bi-person-fill"></i></div>
                    <div>{{'Profile'|lang}}</div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="{{constant('PROJECT_URL')~'admin/signout'}}" class="nav-link d-flex align-items-center justify-content-start text-danger lh-1 gap-3" aria-current="page" href="#">
                    <div><i class="bi bi-door-closed-fill"></i></div>
                    <div>{{'Sign out'|lang}}</div>
                </a>
            </li>
        </ul>
        
    </div>

    </div>

</div>
