<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">{{'PHP Phone Book'|lang}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-2 overflow-y-auto ">
        <ul class="nav nav-pills flex-column gap-1 mb-auto p-1 p-xl-3">
            <li class="nav-item">
                <a href="{{constant('PROJECT_URL')~constant('ADMIN_DIR_NAME')~'/phone_numbers'}}" class="nav-link d-flex align-items-center justify-content-start lh-1 gap-3 {% if method=='home' or method=='phoneNumbers' %}active{% endif %}" aria-current="page" href="#">
                    <div><i class="bi bi-person-rolodex"></i></div>
                    <div>{{'Phone numbers'|lang}}</div>
                </a>
                <a href="{{constant('PROJECT_URL')~constant('ADMIN_DIR_NAME')~'/phone_numbers/add'}}" class="nav-link mt-2 d-flex align-items-center justify-content-start lh-1 gap-3 {% if method=='addPhoneNumbers' %}active{% endif %}">
                    <span><i class="bi bi-plus-lg"></i></span>
                    <span>{{'Add'|lang}} {{'Phone number'|lang}}</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="{{constant('PROJECT_URL')~constant('ADMIN_DIR_NAME')~'/profile'}}" class="nav-link d-flex align-items-center justify-content-start lh-1 gap-3 {% if method=='profile' %}active{% endif %}" aria-current="page" href="#">
                    <div>
                    {% if admin_info.avatar.name %}
                        <img class="rounded-circle border border-1" src="{{constant('PROJECT_URL')}}media/{{admin_info.avatar.folder}}/{{admin_info.avatar.name}}" alt="{{admin_info.avatar.alt}}" width="26px" height="26px">
                    {% else %}
                        <i class="bi bi-person-fill"></i>
                    {% endif %}
                    </div>
                    <div>
                        {% if admin_info.username %}
                            {{admin_info.username}}
                        {% else %}
                        {{'Profile'|lang}}
                        {% endif %}
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="{{constant('PROJECT_URL')~constant('ADMIN_DIR_NAME')~'/signout'}}" class="nav-link d-flex align-items-center justify-content-start text-danger lh-1 gap-3" aria-current="page" href="#">
                    <div><i class="bi bi-door-closed-fill"></i></div>
                    <div>{{'Sign out'|lang}}</div>
                </a>
            </li>
        </ul>
        
    </div>

    </div>

</div>
