{% extends "layouts/structure.html" %}
{% block title %}{{'Phone numbers'|lang}}{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5">
    <div class="d-flex flex-wrap  justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="col-12 d-flex align-items-center gap-3 col-md-auto">
                <h1 class="h2">{{'Phone numbers'|lang}}</h1>
                {% if search %}
                    <div class="d-flex gap-2 align-items-center lh-i">
                        |
                        <span class="h5 m-0">{{'Search'|lang}}: </span>
                        <div class="btn-group dropstart">
                            <button class="btn btn-secondary de_cu">{{search}}</button>
                            <a href="{{project_url ~ constant('ADMIN_DIR_NAME')}}/phone_numbers?page={{page}}&asc={{asc}}&nameSort={{orderChanged}}" class="btn btn-danger px-2">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-auto d-flex gap-3 align-items-center justify-content-between mt-2 mt-sm-0">
                <a href="{{project_url~constant('ADMIN_DIR_NAME')~'/phoneNumbers/add'}}" class="btn btn-success d-flex gap-2 fw-bold">
                    <i class="bi bi-plus-lg"></i>
                    {{'Add'|lang}} 
                </a>
                <div dir="{{'Direction'|lang}}" class="d-flex">
                    <input dir="{{'Direction'|lang}}" class="form-control" id="searchText" placeholder="{{'Search'|lang}}" value="{{search}}" style="width:220px">
                    <button class="btn btn-link lh-1 searcher" data-base-target="{{project_url ~ constant('ADMIN_DIR_NAME')}}/phone_numbers?page={{page}}&asc={{asc}}&nameSort={{orderChanged}}">
                        <i class="bi bi-search" ></i>
                    </button>
          
                </div>
            </div>
        </div>
{% if msg %}
    <div class="alert alert-{% if msg=='deleted' %}success{% else %}danger{% endif %} d-flex align-items-center">
    {% if msg=='deleted' %}
        <i class="{% if msg=='deleted' %}bg-success{% else %}bg-danger{% endif %} me-2 p-2 rounded"></i>
        {{'Successfully deleted.'|lang}}
    {% else %}
        <i class="{% if msg=='deleted' %}bg-info{% else %}bg-danger{% endif %} me-2 p-2 rounded"></i>
        {{'Delete failed. Try again later.'|lang}}
    {% endif %}
    </div>
{% endif %}
    {% if rows %}
    <div class="table-responsive">
        <table class="table table-bordered faDigits fw-normal align-middle bg-transparent">
            <thead>
            <tr>
                <th class="text-center" scope="col">
                   #
                </th>
                <th class="text-center " scope="col">{{'Image'|lang}}</th>
                <th scope="col">
                    <a {% if orderChanged==false %}class="text-reset"{% endif %} href="{{project_url ~ constant('ADMIN_DIR_NAME')}}/phone_numbers?page={{page}}&asc={{ascChanged}}&nameSort=1&s={{search}}">
                        {{'Nickname'|lang}}
                        <i class="bi bi-caret-{%if orderChanged and ascChanged%}up{% else %}down{% endif %}-fill"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-lg-table-cell fullNameTtl">{{'Full name'|lang}}</th>
                <th scope="col">{{'Phone numbers'|lang}}</th>
                <th scope="col" class="d-none d-lg-table-cell addressTtl">{{'Address'|lang}}</th>
                <th scope="col" class="d-none d-lg-table-cell datetimeTtl">
                    <a {% if orderChanged %}class="text-reset"{% endif %} href="{{project_url ~ constant('ADMIN_DIR_NAME')}}/phone_numbers?page={{page}}&asc={{ascChanged}}&nameSort=0&s={{search}}">
                        {{'Date & Time'|lang}}
                        <i class="bi bi-caret-{%if orderChanged == false and ascChanged%}up{% else %}down{% endif %}-fill"></i>
                    </a>
                </th>
                <th scope="col">{{'Operation'|lang}}</th>
            </tr>
            </thead>
            <tbody>
                {% set rowId = rowNumber %}
                {% for key,row in rows %}
                <tr class="text-nowrap">
                    <th class="text-center" scope="row">
                        {% if ascChanged %}
                            {{rowId-key-1}} 
                        {% else %}
                            {{rowId+key+1}}
                        {% endif %}
                    </th>
                    <td>
                        <div class="d-flex justify-content-center">
                            {% if row.image.name %}
                                <a href="{{project_url ~ constant('ADMIN_DIR_NAME')}}/phone_numbers/edit?id={{row.id}}"><img class="rounded-circle border border-2 homeTableImg" src="{{project_url}}media/{{row.image.folder}}/{{row.image.name}}" alt="{{row.image.alt}}" width="45px" height="45px"></a>
                            {% else %}
                                <a href="{{project_url ~ constant('ADMIN_DIR_NAME')}}/phone_numbers/edit?id={{row.id}}" class="img-thumbnail text-body opacity-50 homeTableImg rounded-circle d-flex lh-1 justify-content-center align-items-center">
                                    <i class="bi fs-6 bi-image"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                    <td><a class="text-body" href="{{project_url ~ constant('ADMIN_DIR_NAME')}}/phone_numbers/edit?id={{row.id}}">{{row.nickname}}</a></td>
                    <td class="d-none d-lg-table-cell fullNameBd">{{row.full_name}}</td>
                    <td>{{row.phone_numbers|join('<br>')|raw}}</td>
                    <td class="d-none d-lg-table-cell addressBd">{{row.address}}</td>
                    <td class="small d-none d-lg-table-cell datetimeBd">
                        <div>{{'Created at'|lang}}: <span dir="ltr">{{row.created_at}}</span></div>
                        {% if row.updated_at %}
                            <div class="text-secondary">{{'Updated at'|lang}}: <span dir="ltr">{{row.updated_at}}</span></div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="d-flex operations justify-content-between align-items-center">
                            <div class="d-flex gap-1 gap-sm-4">  
                                <button onclick="location.href = '{{project_url ~ constant('ADMIN_DIR_NAME')}}/phone_numbers/edit?id={{row.id}}'" class="text-primary btn btn-link p-0 m-0">
                                    <i class="bi fs-4 bi-pencil-square"></i>
                                </button>
                                <button class="btn btn-link p-0 m-0 text-danger toConfirmModal" data-bs-toggle="modal" data-bs-target="#confirmModal" data-id="{{row.id}}">
                                    <i class="bi fs-4 bi-trash"></i>
                                </button>
                            </div>
                            <button class="d-block d-lg-none btn btn-link p-0 m-0 me-0 me-md-2 text-secondary toMoreInfo" data-id="{{row.id}}">
                                <i class="bi fs-4 bi-caret-down-fill"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="moreInfo" hidden>
                    <td colspan="5">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <i class="fs-4 text-secondary">{{'No data.'|lang}}</i>
    {% endif %}
    {% include "layouts/pagination.html" %}
</main>
{% endblock content %}