<footer class="d-flex px-2 flex-wrap justify-content-between align-items-center pt-3 mt-4 text-primary border-top border-1 border-primary lh-1">
  <div class="d-flex gap-2 align-items-center justify-content-end">
    <i class="bi fs-3 bi-broadcast"></i>
    <span dir="ltr">© 2023.</span>
  </div>
  <ul class="nav justify-content-end align-items-center  list-unstyled d-flex gap-2">
    <i class="bi bi-twitter"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-facebook"></i>
    . 
    <a class="bg-secondary text-white px-2 rounded-1 lh-base" href="{{project_url ~ constant('ADMIN_DIR_NAME')}}/signin">{{ 'Admin panel'|lang }}</a>
  </ul>
<div dir="ltr" class="px-3 pt-3 mb-5 pb-3 col-12 text-center text-body phinfo">
    <span>PHP Phone Book 1.0 . Under  <a href="https://github.com/ramoures/PHP-Phone-Book/blob/main/LICENSE">MIT</a> license . </span>
    <a href="https://github.com/ramoures">{github}</a>
</div>
</footer>
