<section id="sidebar" class="d-none d-md-block col-auto border-end p-3" style="max-width:200px">
      <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
          All
          </a>
      </li>
      <li>
          <a href="#" class="nav-link link-body-emphasis">
              University
          </a>
      </li>
      <li>
          <a href="#" class="nav-link link-body-emphasis">
          Corporation
          </a>
      </li>
      <li>
          <a href="#" class="nav-link link-body-emphasis">
          Goverment
          </a>
      </li>
      <li>
          <a href="#" class="nav-link link-body-emphasis">
          Customers
          </a>
      </li>
      </ul>
</section>